.container-nav {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  align-items: center;
  height: 80px;
  color: aliceblue;
  padding: 0 50px;
  border-radius: 0px;
}

.container-nav ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

li {
  list-style: none;
}

.container-nav-dark {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  height: 80px;
  color: aliceblue;
  padding: 0 50px;
  border-radius: 0px;
}

.container-nav-dark ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-light {
  color: white;
  background-color: initial;
  border: initial;
  padding: initial;
  font-size: initial;
}
